//引入清除默认样式
@import 'reset';

// 滚动条样式
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $top-color;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: $pink-color !important;
  border-radius: 10px;
}

// 添加按钮的样式
.custom_button {
  background-color: $medium-color !important;
  color: white;
  border: 2px solid $medium-color !important; // 使用 SCSS 变量

  &:hover {
    background-color: $light-green-color !important; // 可选：鼠标悬停时稍微变暗
    border: 2px solid $light-green-color !important; // 使用 SCSS 变量
  }
}

/* 修改按钮样式 */
.edit_btn {
  background-color: $edit-color !important; /* 淡黄色 */
  border-color: $edit-color !important;
  color: white; /* 字体颜色 */
}

.bt_single:hover {
  color: $medium-color !important;
  border-color: $medium-color !important;
  background-color: $btn-hover-color !important;
}

.edit_btn:hover {
  background-color: $edit-light-color !important; /* 鼠标悬停时颜色稍微浅一点 */
  border-color: $edit-light-color !important;
}

/* 删除按钮样式 */
.delete_btn {
  background-color: $delete-color !important;
  border-color: $delete-color !important;
  color: white;
}

.delete_btn:hover {
  background-color: $delete-light-color !important;
  border-color: $delete-light-color !important;
}

/* 取消按钮样式 */
.cancel_btn {
  background-color: $cancel-color !important;
  border-color: $cancel-color !important;
  color: white;
}

.cancel_btn:hover {
  background-color: $cancel-light-color !important;
  border-color: $cancel-light-color !important;
}

/* 图片框框 */
.avatar-uploader .el-upload:hover {
  border-color: $medium-color !important;
}

.custom_image {
  width: 50px !important;
  height: 50px !important;
  border: 0.5px solid gray !important;
  border-radius: 4px !important;
}
