//  定义主题颜色
$primary-color: #065758;  // 主色系
$medium-color: #00999F;  // 中色系
$light-color: #99D1DB;  // 浅色系
$top-color: #DBF0F0;  // 浅色系
$pink-color: #F4B8E4;

//  左侧栏菜单跨度
$base-menu-width: 240px;

// 顶部导航高度
$base-top-navigation-height:50px;

// logo大小
$base-logo-height:40px;

// 左侧菜单logo右侧文字大小
$base-logo-title-font-size:20px