//  定义主题颜色
$primary-color: #065758; // 主色系
$medium-color: #00999f; // 中色系
$light-green-color: #48a7a7;
$light-color: #a0d6d6;
$top-color: #dbf0f0;
$pink-color: #f4b8e4;
// 按钮颜色
$delete-color: #FFACB2;
$delete-light-color: #EF98AA;
$edit-color:#F3BB82;
$edit-light-color:#F7CE90;

// 左侧栏菜单宽度
$base-menu-width: 240px;
// 缩小时剩余的宽度
$base-menu-min-width: 44px;

// 顶部导航高度
$base-top-navigation-height: 50px;

// logo大小
$base-logo-height: 40px;

// 左侧菜单logo右侧文字大小
$base-logo-title-font-size: 20px;
